@font-face {
    font-family: 'Play';
    src: url("../fonts/Play-Bold.ttf");
    font-weight: 800;
}

@keyframes percent-animation {
    from {
        width: 0;
    }
    5% {
        width: 50%;
    }
    10% {
        width: 100%;
    }
    50% {
        width: 100%;
    }
    to {
        width: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: Play, sans-serif;
}

h1 {
    margin: 0;
}

h3 {
    font-size: 33px;
    margin: 15px 0 0 0;
}

hr {
    outline: 1px solid #9d9d9d;
    border: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(45, 45, 45, 0.02) 20%, #2d2d2d 80%, rgba(45, 45, 45, 0.02));
}

.header {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 40px;
}

.header .img {
    width: 250px;
    position: absolute;
    top: 5px;
}

.header h1 {
    font-family: Play, sans-serif;
    font-size: 60px;
    color: rgba(18, 18, 18, 0.84);
    text-align: end;
}

.header .vocation {
    font-family: Play, sans-serif;
    font-size: 22px;
    color: #000000;
    text-align: end;
}

.header > div:last-child {
    width: 100%;
    padding: 40px 20px 40px 75px;
    background: linear-gradient(90deg, rgba(18, 18, 18, 0.01), #d79600, #edd88d);
}

.info {
    display: flex;
}

.info__contacts {
    min-width: 310px;
    padding: 7px;
    color: rgb(215, 150, 0);
}

.info__contact-block {
    display: flex;
    align-items: center;
}

.info__contact-block img {
    margin: 5px 15px 5px 7px;
    width: 30px;
}

.info__contact-block a, .info__contact-block span {
    font-size: 18px;
    text-decoration: none;
    color: #d0cdca;
    text-align: justify;
    width: 100%;
    transition: 0.3s;
}

.info__contact-block a:hover, .info__contact-block span:hover {
    color: #d79600;
    cursor: pointer;
}

.main {
    padding-bottom: 20px;
}

.title-block {
    text-align: end;
}

.description {
    text-align: justify;
    font-size: 18px;
    color: #a7a7a7;
    transition: 0.2s;
}

.description:hover {
    cursor: default;
    color: #d5d4d4;
}

.description a {
    text-decoration: none;
    color: #4fb1fe;
    transition: 0.3s;
}

.description a:hover {
    color: #fecf4f;
}

ul {
    margin: 0;
    padding: 5px 20px;
}

ul li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

ul li div span:first-child {
    display: block;
    width: 30%;
}

ul li div span:last-child {
    margin-left: 10px;
}

ul li:hover {
    color: #d5d4d4;
    transition: 0.2s;
    cursor: default;
}

.list li:hover span {
    transition: 0.5s;
    color: #E39128;
}

.list li div:hover {
    transition: 0.4s;
    box-shadow: 4px 4px 62px -7px rgba(182, 182, 182, 0.3);
    cursor: pointer;
}

.percent {
    animation-direction: alternate;
    animation-duration: 6s;
    animation-name: percent-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.education {
    display: flex;
    justify-content: space-between;
}

.title {
    color: rgba(18, 18, 18, 0.84);
    background: linear-gradient(90deg, rgba(18, 18, 18, 0.01), #d79600, #edd88d);
    display: inline-block;
    padding: 5px 20px 5px 75px;
    margin: 20px 0;
    font-size: 28px;
    min-width: 80%;
}

.title:hover {
    cursor: default;
}

.percent-block {
    width: 60%;
    height: 15px;
    background-color: #a7a7a7;
}

.percent {
    background-color: #d79600;
    width: 100%;
    height: 100%;
}

.percent85 {
    width: 85%;
    height: 100%;
}

.percent82 {
    width: 82%;
    height: 100%;
}

.percent37 {
    width: 37%;
    height: 100%;
}

.percent56 {
    width: 56%;
    height: 100%;
}

.percent20 {
    width: 20%;
    height: 100%;
}

.percent73 {
    width: 73%;
    height: 100%;
}

.percent60 {
    width: 60%;
    height: 100%;
}

.percent58 {
    width: 58%;
    height: 100%;
}

.percent42 {
    width: 42%;
    height: 100%;
}

.languages span:first-child {
    display: inline-block;
    width: 80px;
}

.indent-30 {
    text-indent: 30px;
}

.indent-60 {
    text-indent: 60px;
}

.indent-90 {
    text-indent: 90px;
}

.footer {
    height: 120px;
    background: linear-gradient(90deg, rgba(18, 18, 18, 0.01), #aa7804, rgba(18, 18, 18, 0.01));
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    height: 60px;
    margin: 0 40px;
}